/* Modify the body style */
body {
    background-color: hsl(212, 45%, 89%);
}

/* Modify the style of contents of h3. */
h3 {
    font-weight: 700;
    text-align: center;
    font-family: "Outfit", sans-serif;
}

/* Modify the p element style */
p {
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    color: hsl(218, 44%, 22%);
}

/* image inside the outer-box  */
img {
    width: 100%;
    border-radius: 15px;
}

/* Now for the outer-box */
.outer-box {
    /* width -> responsive */
    width: 85%;
    background-color: blue;
    border-radius: 15px;

    /* positioning it in the center */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 20px rgba(0, 0, 0);
}

@media only screen and (min-width: 400px) {
    .outer-box {
        width: 15%;
    }
}
